{% if color_region == blank %}
  {% assign color_region = "light" %}
{% endif %}

{% assign id_class_list = ids | split: ", " %}
{% assign modifier_class_list = modifier_classes | split: ", " %}
{% assign extra_class_list = extra_classes | split: ", " %}

{% if id == blank %}
  {% assign id = title | downcase | handleize %}
{% endif %}

{% if use_anchor == blank %}
  {% assign use_anchor = false %}
{% endif %}

{% if no_background_color == blank %}
  {% assign no_background_color = false %}
{% endif %}

<div
  class="content-section
    content-section--{{ id }}
    {% for id_class in id_class_list %}content-section--{{ id_class }}
    {% endfor %}
    {% for modifier in modifier_classes %}content-section--{{ modifier }}
    {% endfor %}
    {% for extra_class in extra_classes %}{{ extra_class }}
    {% endfor %}
    {% if padding_top != "" and padding_top != "default" %}u-padding-top-{{ padding_top }}{% endif %}
    {% if padding_bottom != "" and padding_bottom != "default" %}u-padding-bottom-{{ padding_bottom }}{% endif %}
    {% if is_full_width %}content-section--is-full-width{% endif %}
    {% if background_image %}content-section--has-background-image{% endif %}
    color-region--{{ color_region }}
    {% if no_background_color %}content-section--no-background{% endif %}
    "
  >

  {% if use_anchor and anchor != blank %}
  <div id="{{ anchor }}" class="content-section__anchor"></div>
  {% endif %}

  {{ content }}
</div>
