{% assign color_region = section.settings.color_region | default: "light-alt" %}

{% assign id_class_list = ids | split: ", " %}
{% assign modifier_class_list = modifier_classes | split: ", " %}
{% assign extra_class_list = extra_classes | split: ", " %}

{% if id == blank %}
  {% assign id = title | downcase | handleize %}
{% endif %}

<div
  class="content-section
    content-section--{{ id }}
    {% for id_class in id_class_list %}content-section--{{ id_class }}
    {% endfor %}
    {% for modifier in modifier_classes %}content-section--{{ modifier }}
    {% endfor %}
    {% for extra_class in extra_classes %}{{ extra_class }}
    {% endfor %}
    color-region--{{ color_region }}">
  {{ content }}
</div>
