{% comment %}
** Mega menu - homepage partial **
- Static section
- Uses blocks
- Must be enabled through general settings
{% endcomment %}

{% if section.settings.is_visible %}
<div
  class="mega-menu-mobile"
  data-accordion-group-wrapper="mobile-mega-menu"
  data-accordion-group-option-single-open-only="false"
  >
  <button
    class="vm-accordion-button"
    data-accordion-button-id="{{ section.settings.parent | handleize }}"
    data-no-instant>
    <span>{{ section.settings.parent }}</span>
    <span class="vm-accordion-button__arrow">
      {% render "icon.carat" %}
    </span>
  </button>
  
  <div
    class="vm-accordion-content"
    data-accordion-id="{{ section.settings.parent | handleize }}"
    data-accordion-group-id="mobile-mega-menu">
    <div class="vm-accordion-content__inner">

      {% for block in section.blocks %}
        {% if block.type == "nav_link_list" %}
          <div class="mega-menu-mobile__block" {{ block.shopify_attributes }}>
            {% render "header.mobile.mega-menu.nav-link-list" with {
              title: block.settings.title,
              link_list: block.settings.link_list,
              show_view_all_link: block.settings.show_view_all_link,
              view_all_url: block.settings.view_all_url,
              parent: section.settings.parent,
            } %}
          </div>
        {% elsif block.type == "image" %}
          {% assign hide_image = false %}
          {% if block.settings.image != blank and block.settings.url == blank %}
            {% assign hide_image = true %}
          {% endif %}

          {% unless hide_image %}
            <div class="mega-menu-mobile__block" {{ block.shopify_attributes }}>
              {% render "header.mobile.mega-menu.image" with {
                image: block.settings.image,
                url: block.settings.url,
                cta_text: block.settings.cta_text,
                cta_subtext: block.settings.cta_subtext,
                parent: section.settings.parent,
              } %}
            </div>
          {% endunless %}
        {% endif %}
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}