{% comment %}
image: image_picker,
{% endcomment %}

<div class="header-desktop__mega-menu header-desktop__mega-menu--image">
  {% if url != blank %}
    <a href="{{ url }}">
  {% endif %}

  {% if image != blank %}
    <img src="{{ image.src | image_url }}" alt="{{ image.alt }}" />
  {% endif %}
  
  {% if url != blank %}
    {% if cta_text != blank %}
      <div class="u-text-align-center">
        <h5>{{ cta_text }}</h5>
        
        {% if cta_subtext != blank %}
          <p>{{ cta_subtext }}</p>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
  
  {% if url != blank %}
  </a>
  {% endif %}
</div>