{% comment %}
image: image_picker,
{% endcomment %}

<div class="header-dropdown__column">
  <div class="header-desktop__mega-menu header-desktop__mega-menu--image">
    {% if image != blank %}
      {% if url != blank %}
      <a href="{{ url }}">
      {% endif %}

      <img src="{{ image.src | image_url }}" alt="{{ image.alt }}" />

      {% if url != blank %}
      </a>
      {% endif %}
    {% endif %}
    
    {% if url != blank %}
      {% if cta_text != blank %}
        <div class="u-text-align-center">
          <h5><a href="{{ url }}">{{ cta_text }}</a></h5>
          
          {% if cta_subtext != blank %}
            <p><a href="{{ url }}">{{ cta_subtext }}</a></p>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  
  </div>
</div>