{% assign extra_class_list = extra_classes | split: ", " %}
{% assign modifier_class_list = modifier_classes | split: ", " %}

{% if image_aspect_ratio == blank %}
  {% assign image_aspect_ratio = "default" %}
{% endif %}

{% capture link_content %}
  {% if image %}
    <div
      class="image-card__image
      {% if url != blank %}image--zoom-hover__image-wrapper{% endif %}
      image-card__image--aspect-ratio--{{ image_aspect_ratio }}
      ">
      <picture>
        <img
          srcset="{{ image | img_url: '600x600', crop: 'center' }}"
          src="{{ image | img_url: '600x600', crop: 'center' }}"
          alt="{{ image.alt }}"
        />
      </picture>
    </div>
  {% endif %}

  {% if title %}
    {% if tag == "h5" %}
      <h5 class="image-card__title">{{ title | strip_html }}</h5>
    {% else %}
      <h4 class="image-card__title">{{ title | strip_html }}</h4>
    {% endif %}
  {% endif %}
{% endcapture %}


<div class="image-card
  {% for extra_class in extra_class_list %}{{ extra_class }}{% endfor %}
  {% for modifier_class in modifier_class_list %}image-card--{{ modifier_class }}{% endfor %}
  ">
  {% if url != blank %}
    <a class="image-card__link image--zoom-hover" href="{{ url }}">
      {{ link_content }}
    </a>
  {% else %}
    {{ link_content }}
  {% endif %}

  <div class="image-card__content">    
    {{ card_content }}
  </div>
</div>
