<div class="product-images-modal-wrapper">
  <div class="product-images-modal">
    <div class="product-images-modal__underlay"></div>

    <div class="product-images-modal__content-wrapper">
      
      <div class="product-images-modal__content">

        <div class="container">
          <div class="row">
            <div class="one-fifth columns">
              <div class="product-images-modal__thumbnail-list-column">
                <div class="product-images-modal__close-button-wrapper">
                  <button
                    class="button button--circle button--bare product-images-modal__close-button"
                    data-product-images-modal-toggle
                  >
                    {% render "icon.close" %}
                  </button>
                </div>
      
                <div class="product-images-modal__thumbnail-list-wrapper">
                  <div class="product-images-modal__thumbnail-list">
                    {% for media in product.media %}
                      <div class="product-images-modal__thumbnail-wrapper" data-smooth-lazy-loading>
                        <div
                          class="product-images-modal__thumbnail"
                          data-index="{{ forloop.index0 | json }}"
                          data-product-id="{{ product.id }}"
                          data-media-type="{{ media.media_type }}">
                          {% if media.media_type == 'video' %}
                            <img
                              src="{{ media.preview_image | img_url: "300x300", crop: 'center'}}"
                              alt="{{ alt_text }}"
                              loading="lazy"
                            />
                          {% else %}
                            <picture>
                              <img
                                src="{{ media | img_url: "300x300", crop: 'center'}}"
                                alt="{{ alt_text }}"
                                loading="lazy"
                              />
                            </picture>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              
            </div>

            <div class="four-fifths columns">
              <div class="product-images-modal__image-cell-list">
                {% for media in product.media %}
                  <div class="product-images-modal__image-cell" data-smooth-lazy-loading>
                    {% if media.media_type == 'video' %}
                      <video
                        muted="muted"
                        loop="loop"
                        autoplay="true"
                        poster="{{ media.preview_image | img_url: "1200x1200", crop: 'center'}}">
                        {% for source in media.sources %}
                          <source src="{{ source.url }}" type="{{ source.mime_type }}" />
                        {% endfor %}
                        <img
                          srcset="{{ media.preview_image | img_url: "1200x1200", crop: 'center'}} 1x, {{ media.preview_image | img_url: "2400x2400", crop: 'center'}} 2x"
                          src="{{ media.preview_image | img_url: "1200x1200", crop: 'center'}}"
                          alt="{{ alt_text }}"
                          loading="lazy"
                        />
                      </video>
                    {% else %}
                      <picture>
                        <img
                          src="{{ media | img_url: "1200x1200", crop: 'center'}}"
                          alt="{{ alt_text }}"
                          loading="lazy"
                        />
                      </picture>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>