<div class="u-hidden-medium-up">
  <div class="product-images-mobile">
    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

    <div class="product-images-mobile__images-container">
      <div class="product-images-mobile__images-container__inner">
        {% for media in product.media %}
          <div class="product-images-mobile__image {% if forloop.first %}is-active{% endif %}"
            data-product-id="{{ product.id }}"
            data-media-type="{{ media.media_type }}"
            data-thumb="{{ image_large }}"
            data-title="{% if image_alt contains 'youtube' or image_alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image_alt | escape }}{% endif %}">

            {% if media.media_type == 'video' %}
              <video
                muted="muted"
                loop="loop"
                autoplay="true"
                playsinline="true">
                {% for source in media.sources %}
                  <source src="{{ source.url }}" type="{{ source.mime_type }}" />
                {% endfor %}
                <img
                  src="{{ media.preview_image | img_url: "600x600", crop: 'center'}}"
                  alt="{{ alt_text }}"
                  loading="lazy"
                />
              </video>
            {% else %}
              <picture>
                <img
                  src="{{ media | img_url: "600x600", crop: 'center'}}"
                  alt="{{ alt_text }}"
                  loading="lazy"
                />
              </picture>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="product-images-mobile__dots">
      {% for media in product.media %}
        <div
          class="product-images-mobile__dots__dot {% if forloop.first %}is-active{% endif %}"
          data-image-index="{{ forloop.index0 }}"
          >
        </div>
      {% endfor %}
    </div>

  </div>
</div>