
{% comment %}
Optional
---------
set_product_height: <boolean>
quickshop: <boolean>
{% endcomment %}

<div class="u-hidden-medium-down">
  <div class="product-page__product-image-cell-list">
    {% for media in product.media %}
      {% if forloop.index0 < 6 %}
        <div class="product-page__product-image-cell"
          data-product-images-modal-toggle
          data-product-images-modal-toggle-index="{{ forloop.index0 }}"
          data-smooth-lazy-loading>
          {% if media.media_type == 'video' %}
            <video
              muted="muted"
              loop="loop"
              autoplay="true"
              playsinline="playsinline"
              poster="{{ media.preview_image | img_url: "600x600", crop: 'center'}}"
              >
              {% for source in media.sources %}
                <source src="{{ source.url }}" type="{{ source.mime_type }}" />
              {% endfor %}
              <img
                src="{{ media.preview_image | img_url: "600x600", crop: 'center'}}"
                alt="{{ alt_text }}"
                loading="lazy"
              />
            </video>
          {% else %}
            <div class="image--zoom-hover">
              <picture class="image--zoom-hover__image-wrapper">
                <img
                  srcset="{{ media | img_url: "450x450", crop: 'center'}} 1x, {{ media | img_url: "900x900", crop: 'center'}} 2x"
                  src="{{ media | img_url: "600x600", crop: 'center'}}"
                  alt="{{ alt_text }}"
                  loading="lazy"
                />
              </picture>
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    
  </div>

  {% assign product_image_count = product.media | size %}
  {% if product_image_count > 6 %}
    <div class="u-text-align-center u-margin-top-2 u-margin-bottom-2">
      <button class="button product-page__see-all-button" data-product-images-modal-toggle>see all {{ product_image_count }} images</button>
    </div>
  {% endif %}

  {% render "product.desktop.images-modal" %}
</div>
