{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% assign swatch = option %}
{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% comment %}
{% if is_color %}vm-select-buttons--color{% endif %}
{% endcomment %}

<div
class="vm-select-buttons"
  data-option-index="{{ option_index }}"
  data-option="{{ option }}"
>
  <h6>{{ swatch }}</h6>

  <p class="vm-select-buttons__color-name paragraph-3"></p>

  {% assign values = '' %}

  <div class="vm-select-buttons__options">
    {% for variant in product.variants %}
      {% assign value = variant.options[option_index] %}
      {% unless values contains value %}
        {% assign values = values | join: ',' %}
        {% assign values = values | append: ',' | append: value %}
        {% assign values = values | split: ',' %}

        {% comment %}
        {% if is_color %}vm-select-button--color{% endif %}
        {% endcomment %}
        <div
          tabindex="0"
          value="{{ value | escape }}"
          data-value="{{ value | escape }}"
          data-id="{{ variant.id }}"
          class="
            vm-select-button
            {{ value | handle }}-swatch
            vm-select-button--{% if variant.available %}available{% else %}soldout{% endif %}
            "
          >
            {% capture input_name %}swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}{% endcapture %}
            <input
              id="{{ input_name }}"
              type="radio"
              name="option-{{ option_index }}"
              aria-label="{{ value | escape }}"
              tabindex="0"
              value="{{ value | escape }}"
              {% if forloop.first %}checked{% endif %}
            />

            <label
              {% if variant.featured_image %}
                data-image="{{ variant.featured_image | product_img_url: '600x' }}"
              {% endif %}
              for="{{ input_name }}"
            >
              {% comment %}
              {% unless is_color %}{{ value }}{% endunless %}
              {% endcomment %}
              {{ value }}
            </label>
            
            {% comment %}
            {% if is_color %}
              {% assign background_image = value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' %}
              {% assign background_color = value | split: ' ' | last | handle %}
              <div
                class="vm-select-button--color__background-color"
                style="background-image: url({{ background_image }}); background-color: {{ background_color }};"
              >
              </div>
            {% endif %}
            {% endcomment %}

            <img
              class="crossed-out"
              src="{{ 'soldout.png' | asset_url }}"
              aria-label="sold out"
              alt="sold out"
            />
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>
