{% assign show_is_this_a_gift_checkbox = true %}

{% if show_is_this_a_gift_checkbox %}
  {% assign label = "is this a gift" %}
  {% assign slugified_label = label | strip | replace: " ", "-" | replace: "?", "" %}

  <p class="line-item-property__field">
    <label for="{{ slugified_label }}">
      <input
        type="hidden"
        name="properties['{{ label }}']"
        value="No"
      />
      <input
        type="checkbox"
        id="{{ slugified_label }}"
        name="properties['{{ label }}']" value="Yes"
      />
      {{ label }}
    </label>
  </p>
{% endif %}