{% if id == blank %}
  {% assign id = title | lowercase | handleize %}
{% endif %}

<div class="row">
  <div class="one-whole columns">

    <h2 class="vm-styleguide__subsection-title">
      <sup>{{ number }}</sup>
      <span>{{ title }}</span>
      <span class="anchor js-subsection-anchor" id="{{ id }}" data-section-id="{{ sectionId }}"></span>
    </h2>

    {% if description %}
      <div class="vm-styleguide__content-section-description">
        {{ description }}
      </div>
    {% endif %}

  </div>
</div>