{% comment %}TODO - Clean this whole template up.{% endcomment %}

<div class="content">
  <div class="content-section container">
    <div class="sixteen columns">
      <section class="image-list">
        {% if section.settings.title != blank %}
          <h2>{{ section.settings.title | escape | default: 'general.404.title' }}</h2>
        {% endif %}

        {% if section.settings.subtext != blank %}
          <span class="subheading">
            {{ section.settings.subtext | default: 'general.404.subtext' }}
          </span>
        {% endif %}

        <form class="search search-404" action="{{ routes.search_url }}">
          <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}"  value="{{ search.terms }}" />
        </form>

        <ul class="option_grid_{{ section.settings.grid_size }} option_grid_mobile_{{ section.settings.grid_size_mobile }}">
          {% for block in section.blocks %} 
            {% if block.type == 'content-image' and block.settings.show_section %}
              <li class="photo_block">
                <a href="{{block.settings.image_link}}" title="{{block.settings.title}}">
                  {% if block.settings.image_option != blank %}
                    {{block.settings.image_option | img_url: 'x250' | img_tag }}
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}

                  <span>
                    {{block.settings.title}}
                  </span>
                  
                  <p>
                    {{block.settings.icon_subtext}}
                  </p>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>  
      </section>
    </div>
  </div>
</div>

<style>
  section a {color:inherit;}
  
  section.image-list {
    background: {{ section.settings.color_background }};
    padding-top:20px;
  }
  section.image-list li.photo_block img { opacity: {{ section.settings.image_opacity | times: 0.01 }};width:{{ section.settings.image_size }}%;
}
  section.image-list li.photo_block span {
    display:block;
  }
  section.image-list h2 {
    font-weight: bold;
  }

  section.image-list span.subheading {
    font-weight:bold;
    color: {{ section.settings.color_subheader }};
  }

  section.image-list {
    width:100%;
    text-align:center;
  }

  section.image-list ul {list-style:none;display:flex;flex-direction: row;flex-wrap: wrap;padding:40px;margin: 0 auto;align-items: center;justify-content: space-evenly;align-content: center;}
  section.image-list li {padding-top:10px;padding-bottom:10px;}
  section.image-list li.photo_block img {text-align:center;vertical-align:middle;}
  section.image-list li.photo_block span,   section.image-list li.photo_block a {
    /*font-weight:bold;*/
    /*font-size:1.1em;*/
    margin-top: 1rem;
    display:block;
  }

  section.image-list ul {
    padding-top:initial;
  }

  .search-404 {
    padding: 2rem 3rem;
  }
  
  @media (min-width:768px) {
    section.image-list ul.option_grid_1 li {width: calc((100% - (5px * 2 ))  / 1);}
    section.image-list ul.option_grid_2 li {width: calc((100% - (5px * 4 ))  / 2);}
    section.image-list ul.option_grid_3 li {width: calc((100% - (5px * 6 ))  / 3);}
    section.image-list ul.option_grid_4 li {width: calc((100% - (5px * 8 ))  / 4);}
    section.image-list ul.option_grid_5 li {width: calc((100% - (5px * 10 )) / 5);}
    section.image-list ul.option_grid_6 li {width: calc((100% - (5px * 12 )) / 6);}
    
  	li.photo_block {align-self: flex-start;}
  }
  @media (max-width:768px) {
    section.image-list li {width:100%;margin: auto;}
    section.image-list ul.option_grid_mobile_1 li {width: calc((100% - (5px * 2 ))  / 1);}
    section.image-list ul.option_grid_mobile_2 li {width: calc((100% - (5px * 4 ))  / 2);}
    section.image-list ul.option_grid_mobile_3 li {width: calc((100% - (5px * 6 ))  / 3);}
    section.image-list ul.option_grid_mobile_4 li {width: calc((100% - (5px * 8 ))  / 4);}
    section.image-list ul.option_grid_mobile_5 li {width: calc((100% - (5px * 10 )) / 5);}
    section.image-list ul.option_grid_mobile_6 li {width: calc((100% - (5px * 12 )) / 6);}
  }
</style>



{% schema %}
  {
    "name": "404 Template",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image List Header"
      },
      {
      "type": "richtext",
      "id": "subtext",
      "label": "Sub Heading",
      "default": "<p>Sub header description</p>"
      },
 	  {
        "type": "header",
        "content": "Grid Settings"
      },
      {
      "type":      "range",
      "id":        "grid_size",
      "min":       1,
      "max":       6,
      "step":      1,
      "label":     "Grid Size (Desktop)",
      "default":   3
      },
      {
      "type":      "range",
      "id":        "grid_size_mobile",
      "min":       1,
      "max":       3,
      "step":      1,
      "label":     "Grid Size (Mobile)",
      "default":   1
      },  {
        "type": "header",
        "content": "Image Settings"
      },
      {
      "type":      "range",
      "id":        "image_size",
      "min":       0,
      "max":       100,
      "step":      5,
      "label":     "Image Width",
      "default":   90,
      "unit":      "%"
      },
      {
      "type":      "range",
      "id":        "image_opacity",
      "min":       0,
      "max":       100,
      "step":      5,
      "label":     "Image Opacity",
      "default":   100,
      "unit":      "%"
      },
      {
        "type": "header",
        "content": "Color Settings"
      },
      {
      "type": "color",
      "id": "color_background",
      "label": "Section Background",
	  "default": "#f9fafb"
      },  
	  {
      "type": "color",
      "id": "color_header",
      "label": "Header Color",
	  "default": "#5a6067"
      },
      {
      "type": "color",
      "id": "color_subheader",
      "label": "Sub Heading Color",
	  "default": "#0A212D"
      },
      {
      "type": "color",
      "id": "color_label",
      "label": "Image Label",
	  "default": "#EBCB5C"
      }], 
	"blocks": [
	{
      "type": "content-image",
      "name": "Image Item",
      "settings": [
        {
           "type": "checkbox",
           "id": "show_section",
           "default": true,
           "label": "Display This Image"
        },
        {
          "id": "image_option",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "image_link",
          "type": "url",
          "label": "Item Link"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title Text"
        },
        {
          "type": "richtext",
          "id": "icon_subtext",
          "label": "Sub-Heading"
		}
      ]}
	],

    "presets": [{
        "name": "Image Block",
        "category": "Content",
        "blocks": [
          {
            "type": "content-image"
          },
          {
            "type": "content-image"
          },
          {
            "type": "content-image"
          }
		]
    }]
  }
{% endschema %}
