{% comment %}
** Header - default view **
- Static section
{% endcomment %}

{% comment %} Structured data {% endcomment %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append:'x' %}
      "logo": "https:{{ section.settings.logo | img_url: image_size }}",
    {% endif %}
    "sameAs": [
      "{{ settings.twitter_link }}",
      "{{ settings.facebook_link }}",
      "{{ settings.pinterest_link }}",
      "{{ settings.instagram_link }}",
      "{{ settings.tumblr_link }}",
      "{{ settings.snapchat_link }}",
      "{{ settings.youtube_link }}",
      "{{ settings.vimeo_link }}"
    ],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}

{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}


{% comment %}
<!-- <header id="header" class="mobile_nav-fixed--{{ section.settings.fixed_header }}">
  {% if section.settings.promo_text != blank %}
    <div class="promo_banner">
      <div class="promo_banner__content">
        {{ section.settings.promo_text }}
      </div>
      <div class="promo_banner-close"></div>
    </div>
  {% endif %}
  
  <div class="top_bar clearfix">
    <a class="mobile_nav header__dropdown-link" data-dropdown-rel="menu" data-no-instant="true">
      <div class="hamburger-menu-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="menu_title">{{ 'layout.general.menu' | t }}</span>
    </a>
    
    <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="mobile_logo logo">
      {% if section.settings.logo_mobile != nil %}
        <img src="{{ section.settings.logo_mobile | img_url: '410x' }}" alt="{{ shop.name | escape }}" class="lazyload" />
      {% elsif section.settings.logo != nil %}
        <img src="{{ section.settings.logo | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>

    <div class="top_bar--right">
      {% if section.settings.search_enabled %}
        <a href="{{ routes.search_url }}" class="icon-search header__dropdown-link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a>
      {% endif %}

      {% if section.settings.show_cart %}
        <div class="cart_container">
          <a href="{{ routes.cart_url }}" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart header__dropdown-link" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant> <span class="cart_count">{{ cart.item_count }}</span></a>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="header__dropdown-container center" data-dropdown="search">
    <div class="dropdown">
      <form action="{{ routes.search_url }}" class="header_search_form">
        {% if settings.search_option != 'everything' %}
          <input type="hidden" name="type" value="product" />
        {% endif %}
        <span class="icon-search search-submit"></span>
        <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="search-terms" />
      </form>
    </div>
  </div>

  <div class="header__dropdown-container" data-dropdown="menu">
    <div class="dropdown">
      <ul class="menu" id="mobile_menu">
        {% render 'mobile-menu' with section.settings.main_linklist %}
        {% render 'mobile-menu' with section.settings.main_linklist2 %}
        {% render 'mobile-menu' with section.settings.top_bar_menu, context: 'top_bar_menu' %}
        {% if section.settings.phone_number != blank %}
          <li><a href="tel:{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}">{{ section.settings.phone_number }}</a></li>
        {% endif %}

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              <a href="{{ routes.account_url }}" data-no-instant>{{ customer.name }}</a>
            </li>
            <li data-no-instant>
              <a href="{{ routes.account_logout_url }}" id="customer_logout_link">{{ 'layout.customer.log_out' | t }}</a>
            </li>
          {% else %}
            <li data-no-instant>
              <a href="{{ routes.account_login_url }}" id="customer_login_link">{{ 'layout.customer.log_in' | t }}</a>
            </li>
          {% endif %}
        {% endif %}

        {% render 'localization-switcher-mobile',
          additional_classes: 'mobile-menu__disclosure',
          currency_selector: currency_selector,
          locale_selector: locale_selector,
          show_currency: section.settings.show_currency_selector
        %}
      </ul>
    </div>
  </div>
</header>
{% endcomment %}

{% if section.settings.promo_text != blank %}
<div class="promo-banner">
  <div class="promo-banner__content">
    {{ section.settings.promo_text }}
  </div>

  <div class="promo-banner__close-button js-promo-banner-close"></div>
</div>
{% endif %}

{% comment %}Main navigation{% endcomment %}
<div class="header-wrapper">
  <header class="header">
    {% capture extra_links %}
      <li>
        <div class="cart_container">
          <a href="{{ routes.cart_url }}"
          class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} header__dropdown-link"
          data-no-instant>
            <span class="cart_count">{{ cart.item_count }}</span>
          </a>
  
          {% render "header.cart-container" %}
        </div>
      </li>
  
      <li>
        <a
          href="{{ routes.account_url }}"
          title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}">
            <span class="icon-user">{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}</span>
        </a>
      </li>

      <li>
        <a
          href="{{ routes.search_url }}"
          class="header__dropdown-link"
          title="{{ 'general.search.title' | t | escape }}"
          data-dropdown-rel="search">
          <span class="icon-search"></span>
        </a>
      </li>
    {% endcapture %}

    {% render 'header.nav' with {
      linklist: section.settings.main_linklist
    } %}

    {% render "header.logo" %}
    
    {% render 'header.nav' with {
      linklist: section.settings.main_linklist2,
      extra_links: extra_links
    } %}
  </header>
  
  <div class="dropdown-wrapper">
    {% render 'header.dropdown', linklist: section.settings.main_linklist %}
    {% render 'header.dropdown', linklist: section.settings.main_linklist2 %}
    {% render "header.search-dropdown" %}
  </div>
</div>

{% schema %}

{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Text",
      "info": "Maximum character limit is 170"
    },
    {
     "type": "header",
     "content": "Top bar"
    },
    {
      "type": "checkbox",
      "id": "social_icons_header",
      "label": "Show social media header icons",
      "default": true
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Menu",
      "info": "This menu won't show drop-down items"
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ],
      "default": "cart"
    },
    {
     "type": "header",
     "content": "Logos"
    },
    {
      "type": "range",
      "id": "logo_display_width",
      "label": "Logo display width",
      "step": 5,
      "min": 105,
      "max": 205,
      "default": 205,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "logo_display_width_percent",
      "label": "Logo display width (Desktop)",
      "step": 5,
      "min": 0,
      "max": 100,
      "default": 20,
      "unit": "%"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 200px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_home",
      "label": "Secondary logo over content (optional)",
      "info": "400 x 200px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Mobile logo",
      "info": "100 x 50px recommended"
    },
    {
     "type": "header",
     "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist2",
      "label": "Secondary menu"
    },
    {
      "type": "checkbox",
      "id": "vertical_menu",
      "label": "Enable vertical menus",
      "default": false
    },
    {
     "type": "header",
     "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Show search",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a payment, go to your [currency settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
     "type": "header",
     "content": "Layout"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu position",
      "options": [
        {
          "value": "inline",
          "label": "Inline with logo"
        },
        {
          "value": "block",
          "label": "Under logo"
        }
      ],
      "default": "inline"
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu alignment",
      "options": [
        {
          "value": "align_left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "align_right",
          "label": "Right"
        }
      ],
      "default": "align_left"
    },
    {
      "type": "range",
      "id": "menu_top_padding",
      "label": "Main menu top padding",
      "info": "[Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910627)",
      "min": 0,
      "max": 30,
      "default": 0,
      "unit": "px"
    }
  ]
}

{% endschema %}
