<div class="image-with-text
            content-section content-section--no-padding">
  {% for block in section.blocks %}
    <div class="container">
      <div class="row">
        <div class="sixteen columns">

          <div class="image-with-text__row
                      color-region--{{ block.settings.color_region }}
                      section-{{ forloop.index }}">
            <div class="image-with-text__block
                        image-with-text__block--image">
              <div class="image-with-text__image">
                {% if block.settings.image %}
                  {% render 'image-element',
                    image: block.settings.image,
                    alt: block.settings.image.alt,
                    stretch_width: true
                  %}
                {% endif %}
              </div>
            </div>

            <div class="image-with-text__block image-with-text__block--text">
              <div class="image-with-text__text">
                {% if block.settings.title != blank%}
                  {% if block.settings.link != blank %}
                    <h2>
                      <a href="{{ block.settings.link }}">
                        {{ block.settings.title }}
                      </a>
                    </h2>
                  {% else %}
                    <h2>
                      {{ block.settings.title }}
                    </h2>
                  {% endif %}
                {% endif %}

                {% if block.settings.text != blank %}
                  <div class="description">{{ block.settings.text }}</div>
                {% endif %}

                {% if block.settings.button_label != blank and block.settings.link != blank %}
                  <a href="{{ block.settings.link }}"
                      class="cta-link {% if block.settings.color_region =='dark' or block.settings.color_region == 'dark_alt' %}cta-link--inverted{% endif %}">
                    {{ block.settings.button_label }}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% schema %}
{
  "name": "Image with text",
  "class": "image-with-text-section",
  "max_blocks": 16,
  "settings": [
    {
      "type": "select",
      "id": "featured_links_per_row",
      "label": "Images per row",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "select",
      "id": "frontpage_image_position",
      "label": "First image position",
      "info": "Subsequent images will appear staggered",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "select",
          "id": "image_crop",
          "label": "Image cropping",
          "default": "none",
          "info": "Only applied when text area is taller than image.",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description appears here.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View all"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "select",
          "id": "color_region",
          "label": "Background color",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "light_alt",
              "label": "Light - alternative"
            },
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "dark_alt",
              "label": "Dark - alternative"
            }
          ]
        }
      ]
    }
  ],
  "presets": [{
    "name": "Image with text",
    "category": "Image",
    "settings": {
      "featured_links_per_row": "1"
    },
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}
