{% unless template.name != "index" and section.settings.hide_section_list == true %}

{% assign column_count = section.blocks | size %}
{% assign column_count = 3 %}

{% if column_count == 1 %}
  {% assign column_class = "sixteen" %}
{% elsif column_count == 2 %}
  {% assign column_class = "eight" %}
{% elsif column_count == 3 %}
  {% assign column_class = "one-third" %}
{% elsif column_count == 4 %}
  {% assign column_class = "four" %}
{% endif %}

<section class="image-list">
  <div class="content-section">
    <div class="container">
      {% if section.settings.title != blank %}
        <div class="sixteen columns">
          {% include "content-section.title" with {
            title: section.settings.title | escape,
          } %}
        </div>
      {% endif %}
      
      {% if section.settings.subtext != blank %}
        <p class="paragraph-1">
          {{ section.settings.subtext }}
        </p>
      {% endif %}

      <div class="container">
        {% for block in section.blocks %} 
          {% if block.type == 'content-image' and block.settings.show_section %}
            <div class="{{ column_class }} columns medium-down--one-whole image-list__column">
              <div class="image-list__item">
                <!--      
                {% if block.settings.image_option != blank %}
      	          {{ block.settings.image_option | img_url: 'x150' | img_tag }}
                {% else %}
          	      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
                -->
                
                <h5>
                  {{block.settings.title}}
                </h5>
                
                <p class="paragraph-2">
                  {{ block.settings.icon_subtext | strip_html }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endunless %}

{% schema %}
  {
      "name": "Image List",
      "settings": [
      {
        "type": "checkbox",
        "id": "hide_section_list",
        "default": true,
        "label": "Hide On Product Pages"
      },
      {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image List Header"
      },
      {
      "type": "richtext",
      "id": "subtext",
      "label": "Sub Heading",
      "default": "<p>Sub header description</p>"
      },
      {
        "type": "header",
        "content": "Grid Settings"
      },
      {
      "type":      "range",
      "id":        "grid_size",
      "min":       1,
      "max":       6,
      "step":      1,
      "label":     "Grid Size (Desktop)",
      "default":   3
      },
      {
      "type":      "range",
      "id":        "grid_size_mobile",
      "min":       1,
      "max":       3,
      "step":      1,
      "label":     "Grid Size (Mobile)",
      "default":   1
      },
      {
        "type": "header",
        "content": "Image Settings"
      },
      {
      "type":      "range",
      "id":        "image_size",
      "min":       0,
      "max":       100,
      "step":      5,
      "label":     "Image Width",
      "default":   90,
      "unit":      "%"
      },
      {
      "type":      "range",
      "id":        "image_opacity",
      "min":       0,
      "max":       100,
      "step":      5,
      "label":     "Image Opacity",
      "default":   100,
      "unit":      "%"
      },
      {
        "type": "header",
        "content": "Color Settings"
      },
      {
      "type": "color",
      "id": "color_background",
      "label": "Section Background",
	  "default": "#f9fafb"
      },
      {
      "type": "color",
      "id": "color_header",
      "label": "Header Color",
	  "default": "#5a6067"
      },
      {
      "type": "color",
      "id": "color_subheader",
      "label": "Sub Heading Color",
	  "default": "#0A212D"
      },
      {
      "type": "color",
      "id": "color_label",
      "label": "Image Label",
	  "default": "#EBCB5C"
      }

    ],

  "blocks": [
	{
      "type": "content-image",
      "name": "Image Item",
      "settings": [
        {
           "type": "checkbox",
           "id": "show_section",
           "default": true,
           "label": "Display This Image"
        },
        {
          "id": "image_option",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title Text"
        },
        {
          "type": "richtext",
          "id": "icon_subtext",
          "label": "Sub-Heading"
		}
      ]}
],

    "presets": [{
        "name": "Image List",
        "category": "Content",
        "blocks": [
          {
            "type": "content-image"
          },
          {
            "type": "content-image"
          },
          {
            "type": "content-image"
          }
		  ]
    }]
  }
{% endschema %}
