<div class="content-section content-section--our-story--visit-store">
  <div id="visit-the-store" class="content-section__anchor"></div>
  <div class="container">
    <div class="twelve columns offset-by-two medium-down--one-whole medium-down--offset-by-zero">
      {% include "content-section.title" with {
        title: section.settings.title | escape,
      } %}
    </div>
  </div>

  <div class="container">
    <div class="row">


      <div class="twelve columns offset-by-two medium-down--one-whole medium-down--offset-by-zero">
        <div class="our-story__store-map-wrapper">
          <img
          src="{{ section.settings.map_image | img_url : "2000x" }}"
          />
        </div>
      </div>

      <div class="twelve columns offset-by-two medium-down--one-whole medium-down--offset-by-zero">
        <div class="our-story__store-mobile-map-wrapper">
          <img
          src="{{ section.settings.mobile_map_image | img_url : "2000x" }}"
          />
        </div>
      </div>

      <div class="twelve columns offset-by-two medium-down--one-whole medium-down--offset-by-zero">
        <div class="our-story__store-map-content">
          {{ section.settings.content }}
        </div>

        <div class="our-story__store-location-hours">
          <div class="row">
            <div class="eight columns medium-down--one-whole">
              {% if section.settings.address %}
                <h4>Location</h4>
                
                {{ section.settings.address }}
              {% endif %}
            </div>
            
            <div class="eight columns medium-down--one-whole">
              {% if section.settings.store_hours %}
                <h4>Hours</h4>
                
                {{ section.settings.store_hours }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
          
      <div class="twelve columns offset-by-two medium-down--one-whole medium-down--offset-by-zero">
        <div class="our-story__store-calendly-embed">
          {% if section.settings.calendly_embed != blank %}
            <h4>Book an appointment</h4>

            {{ section.settings.calendly_embed }}
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>


{% schema %}
{
  "name": "Visit Our Store",
  "settings": [
    {
      "id": "title",
      "label": "Title",
      "type": "text",
      "default": "Visit Our Store"
    },
    {
      "id": "content",
      "label": "Content",
      "type": "richtext",
      "default": "<p>We offer both walk-in and appointment-based shopping but give priority to appointments.</p>"
    },
    {
      "id": "address",
      "label": "Address",
      "type": "richtext",
      "default": "<p>1411 34th Ave<br />Seattle, WA 98122</p>"
    },
    {
      "id": "store_hours",
      "label": "Store Hours",
      "type": "richtext",
      "default": "<p>Thursday-Friday <strong>12pm-6pm</strong><br/>Saturday <strong>10am-4pm</strong></p>"
    },
    {
      "id": "calendly_embed",
      "label": "Calendly Embed code",
      "type": "html"
    },
    {
      "id": "map_image",
      "label": "Map Image",
      "type": "image_picker"
    },
    {
      "id": "mobile_map_image",
      "label": "Mobile Map Image",
      "type": "image_picker"
    }
  ]
}
{% endschema %}