{% assign text_align = "left" %}
{% if section.settings.text_is_centered %}
  {% assign text_align = "center" %}
{% endif %}

{% assign has_text_content = false %}
{% if section.settings.subtitle or section.settings.text %}
  {% assign has_text_content = true %}
{% endif %}

{% capture content %}
<div class="container">
  <div class="row">
    
    <div
      class="
        eight columns
        large-down--twelve
        medium-down--one-whole
        medium-down--offset-by-zero
      {% if section.settings.content_is_centered %}offset-by-four large-down--offset-by-two{% endif %}">
      
      {% assign extra_heading_classes = "" %}
      {% if has_text_content %}
        {% assign extra_heading_classes = "u-margin-top-0 u-margin-bottom-3" %}
      {% endif %}

      {% render "page-heading", with {
        title: section.settings.title,
        align: text_align,
        extra_classes: extra_heading_classes
      } %}

      <div class="block-text u-text-align-{{ text_align }}">
        {% if section.settings.subtitle != blank %}
          <p class="paragraph-1">{{ section.settings.subtitle }}</p>
        {% endif %}

        {% if section.settings.text != blank %}
          <p class="u-margin-bottom-0">{{ section.settings.text }}</p>
        {% endif %}
      </div>

      {% if section.settings.cta_text and section.settings.cta_link %}
        <div class="u-text-align-{{ text_align }} u-margin-top-3">
          <a
            href="{{ section.settings.cta_link }}"
            class="
              cta-link
              {% if section.settings.color_region == "dark" or section.settings.color_region == "dark-alt" %}
              cta-link--inverted
              {% endif %}
            ">
            {{ section.settings.cta_text }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endcapture %}

{% assign background_image_desktop = blank %}
{% if section.settings.background_image_desktop %}
  {% assign background_image_desktop = section.settings.background_image_desktop | img_url: "1600x" %}
{% endif %}

{% assign background_image_mobile = blank %}
{% if section.settings.background_image_mobile %}
  {% assign background_image_mobile = section.settings.background_image_mobile | img_url: "800x" %}
{% endif %}


<div class="page-banner
  page-banner--aspect-ratio-desktop-{{ section.settings.aspect_ratio }}
  page-banner--aspect-ratio-mobile-{{ section.settings.aspect_ratio_mobile }}
">
  {% if background_image_desktop %}
    <div
      class="page-banner__background-image-desktop"
      style="background-image: url('{{ background_image_desktop }}');"
    ></div>

    <div
      class="page-banner__background-image-mobile"
      {% if background_image_mobile %}
        style="background-image: url('{{ background_image_mobile }}');"
      {% else %}
        style="background-image: url('{{ background_image_desktop }}');"
      {% endif %}
    ></div>
  {% endif %}

  {% render "content-section" with {
    content: content,
    color_region: section.settings.color_region,
    background_image_desktop: background_image_desktop,
    background_image_mobile: background_image_mobile,
    extra_classes: extra_classes,
    no_background_color: true
  } %}
</div>

{% schema %}
{
  "name": "Page Banner",
  "settings": [
    {
      "id": "title",
      "label": "Title",
      "type": "text",
      "default": "Page Title."
    },
    {
      "id": "subtitle",
      "label": "Subtitle",
      "type": "textarea",
      "default": "Aliqua consequat et velit quis duis do proident sunt aute anim. Sunt anim duis in ex id ea quis aliquip voluptate occaecat ea cupidatat duis magna. Incididunt sunt in ea fugiat magna voluptate ut officia id. Lorem duis eiusmod officia do esse minim. Cupidatat aute ullamco irure culpa fugiat voluptate culpa esse consequat in dolore ullamco."
    },
    {
      "id": "text",
      "label": "Text",
      "type": "textarea",
      "default": "Magna quis ex deserunt elit consequat qui proident ipsum consequat tempor qui ipsum proident nulla. Culpa sint in esse occaecat do voluptate. Velit laboris velit Lorem aliqua commodo laboris adipisicing anim sit. Laborum magna labore do laboris consequat tempor reprehenderit in reprehenderit sunt mollit ipsum dolor. Sunt aute consectetur esse adipisicing anim enim officia aute. Consectetur minim ullamco adipisicing culpa nisi exercitation ea aliqua veniam elit culpa magna ad."
    },
    {
      "id": "cta_text",
      "label": "CTA Text",
      "type": "text"
    },
    {
      "id": "cta_link",
      "label": "CTA Link",
      "type": "url"
    },
    {
      "type": "checkbox",
      "id": "content_is_centered",
      "label": "Center Content (desktop)?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "text_is_centered",
      "label": "Center Text?",
      "default": false
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect ratio (desktop)",
      "default": "unconstrained",
      "options": [
        {
          "value": "unconstrained",
          "label": "Unconstrained (default)"
        },
        {
          "value": "2-1",
          "label": "2:1"
        },
        {
          "value": "3-1",
          "label": "3:1"
        }
      ]
    },
    {
      "type": "select",
      "id": "aspect_ratio_mobile",
      "label": "Aspect ratio (mobile)",
      "default": "unconstrained",
      "options": [
        {
          "value": "unconstrained",
          "label": "Unconstrained (default)"
        },
        {
          "value": "1-1",
          "label": "1:1"
        },
        {
          "value": "2-1",
          "label": "2:1"
        }
      ]
    },
    {
      "id": "background_image_desktop",
      "label": "Background Image (desktop)",
      "type": "image_picker"
    },
    {
      "id": "background_image_mobile",
      "label": "Background Image (mobile)",
      "type": "image_picker"
    },
    {
      "type": "select",
      "id": "color_region",
      "label": "Color Region",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "light-alt",
          "label": "Light - alternative"
        },
        {
          "value": "dark",
          "label": "Dark"
        },
        {
          "value": "dark-alt",
          "label": "Dark - alternative"
        }
      ]
    }
  ]
}
{% endschema %}