{% assign column_class = "four" %}

{% if section.settings.column_width == 1 %}
  {% assign column_class = "sixteen" %}
{% elsif section.settings.column_width == 2 %}
  {% assign column_class = "eight" %}
{% elsif section.settings.column_width == 3 %}
  {% assign column_class = "one-third" %}
{% elsif section.settings.column_width == 3 %}
  {% assign column_class = "four" %}
{% endif %}

<div class="container">
  {% if section.settings.title != blank %}
    <div class="row">
      <div class="sixteen columns">
        <h2 >{{ section.settings.title | escape }}</h2>
      </div>
    </div>
  {% endif %}

  <div class="row">
    {% for block in section.blocks %}
      <div class="{{ column_class }} columns">
        {% capture card_content %}
          {% if block.settings.text != blank %}
            <div class="u-margin-top-1">{{ block.settings.text }}</div>
          {% endif %}

          {% if block.settings.cta_text != blank and block.settings.cta_link != blank %}
            <a href="{{ block.settings.cta_text }}" class="cta-link">
              {{ block.settings.cta_text | escape }}
            </a>
          {% endif %}
        {% endcapture %}

        {% include "image-card" with {
          title: block.settings.title,
          image: block.settings.image,
          url: block.settings.cta_link,
          card_content: card_content
        } %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Text columns with images",
  "class": "text-columns-with-images-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Text columns with images"
    },
    {
      "type": "range",
      "label": "Columns per row",
      "id": "column_width",
      "min": 0,
      "max": 4,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title or tagline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA Link"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text",
          "default": "Read More"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text columns with images",
      "category": "Text",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
